#loginAdm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    #container{
        #btn{
            #loginBtn{
                width: 85%;
            }
        }
    }
}